<a href="https://colab.research.google.com/github/ldocarvalho/PreProcessamentoMamo/blob/main/TP1_PreProcessamento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

-----------------------------------------------------
**2020/2** 

**Tópicos Especiais em Arquitetura de Computadores**

**TP02 - Pré-Processamento de Dados**

Lucas de Oliveira Carvalho

Lucas Luis de Souza Barreto

-----------------------------------------------------

In [ ]:
import pandas as pd
pd.options.mode.chained_assignment = None  # default='warn'

nomesColunasMamo = ["BI-RADS","Idade","Forma","Margem","Densidade","Severidade"]
dfMamo = pd.read_csv('https://raw.githubusercontent.com/lucasdsbarreto/IntroducaoMineracaoDadosDatasets/main/mamo.csv', names = nomesColunasMamo)

In [ ]:
dfMamo_exerc_1 = dfMamo.copy()

In [ ]:
dfMamo_exerc_1

    BI-RADS Idade Forma Margem Densidade  Severidade
0         5    67     3      5         3           1
1         4    43     1      1         ?           1
2         5    58     4      5         3           1
3         4    28     1      1         3           0
4         5    74     1      5         ?           1
..      ...   ...   ...    ...       ...         ...
956       4    47     2      1         3           0
957       4    56     4      5         3           1
958       4    64     4      5         3           0
959       5    66     4      5         3           1
960       4    62     3      3         3           0

[961 rows x 6 columns]

##### Exercício 1. Limpeza dos dados - Valores Ausentes - Método da Imputação de Valores

###### Exercício 1.1. Atributo BI-RADS

In [ ]:
dfMamo_exerc_1[dfMamo_exerc_1["BI-RADS"]=='?']

    BI-RADS Idade Forma Margem Densidade  Severidade
20        ?    66     ?      ?         1           1
208       ?    52     4      4         3           0

In [ ]:
#Descobrindo a maior frequencia de BI-RADS para severidade 0

dfMamoAuxiliar = dfMamo[dfMamo["Severidade"]==0]
maiorfreqBIRads = [0,len(dfMamoAuxiliar[dfMamoAuxiliar["BI-RADS"]=='0'])]
for biRads in range(1,7):
  if maiorfreqBIRads[1] <=  len(dfMamoAuxiliar[dfMamoAuxiliar["BI-RADS"]==str(biRads)]):
    maiorfreqBIRads = [biRads,len(dfMamoAuxiliar[dfMamoAuxiliar["BI-RADS"]==str(biRads)]) ]

maiorfreqBIRads

[4, 427]

In [ ]:
#Substituindo os valores Ausentes de severidade 0 para a maior frequencia encontrada
indicesLimpeza = dfMamoAuxiliar[dfMamoAuxiliar['BI-RADS']=='?'].index
print("Indices a serem subtuidos: ",list(indicesLimpeza))

dfMamo_exerc_1.loc[indicesLimpeza,'BI-RADS'] = maiorfreqBIRads[0]

dfMamo_exerc_1.iloc[indicesLimpeza]

Indices a serem subtuidos:  [208]

    BI-RADS Idade Forma Margem Densidade  Severidade
208       4    52     4      4         3           0

In [ ]:
#Descobrindo a maior frequencia de BI-RADS para severidade 1

dfMamoAuxiliar = dfMamo[dfMamo["Severidade"]==1]
maiorfreqBIRads = [0,len(dfMamoAuxiliar[dfMamoAuxiliar["BI-RADS"]=='0'])]
for biRads in range(1,7):
  if maiorfreqBIRads[1] <=  len(dfMamoAuxiliar[dfMamoAuxiliar["BI-RADS"]==str(biRads)]):
    maiorfreqBIRads = [biRads,len(dfMamoAuxiliar[dfMamoAuxiliar["BI-RADS"]==str(biRads)]) ]

maiorfreqBIRads

[5, 305]

In [ ]:
#Substituindo os valores Ausentes de severidade 0 para a maior frequencia encontrada
indicesLimpeza = dfMamoAuxiliar[dfMamoAuxiliar['BI-RADS']=='?'].index
print("Indices a serem subtuidos: ", list(indicesLimpeza))

dfMamo_exerc_1.loc[indicesLimpeza,'BI-RADS'] = maiorfreqBIRads[0]

dfMamo_exerc_1.iloc[indicesLimpeza]

Indices a serem subtuidos:  [20]

   BI-RADS Idade Forma Margem Densidade  Severidade
20       5    66     ?      ?         1           1

In [ ]:
dfMamo_exerc_1_1 = dfMamo_exerc_1
dfMamo_exerc_1_1[dfMamo_exerc_1_1['BI-RADS']=='?']

Empty DataFrame
Columns: [BI-RADS, Idade, Forma, Margem, Densidade, Severidade]
Index: []

###### Exercício 1.2. Atributo Idade

In [ ]:
dfMamo[dfMamo["Idade"]=='?']

    BI-RADS Idade Forma Margem Densidade  Severidade
443       4     ?     4      5         3           1
453       5     ?     4      4         3           1
683       5     ?     3      3         3           1
884       5     ?     4      4         3           1
923       5     ?     4      3         3           1

In [ ]:
#Fazendo a media das idades para BENIGNO
dfMamoAuxiliar = dfMamo[dfMamo['Severidade']==0]
dfMamoIdade = dfMamoAuxiliar[dfMamoAuxiliar['Idade']!='?']
dfMamoIdade = dfMamoIdade['Idade'].astype(int)

mediaIdadeBenigno = dfMamoIdade.mean()

#Fazendo a media das idades para Maligno
dfMamoAuxiliar = dfMamo[dfMamo['Severidade']==1]
dfMamoIdade = dfMamoAuxiliar[dfMamoAuxiliar['Idade']!='?']
dfMamoIdade = dfMamoIdade['Idade'].astype(int)

mediaIdadeMaligno = dfMamoIdade.mean()

In [ ]:
#Mostrando a media das idades
round(mediaIdadeBenigno),round(mediaIdadeMaligno)

(50, 62)

In [ ]:
#Substituindo os valores ausentes pela media da Idade de acordo com a severidade 
for i in dfMamo[dfMamo["Idade"]=='?'].index:
  if (dfMamo.loc[i,'Severidade']) == 0:
    dfMamo_exerc_1.loc[i,'Idade'] = mediaIdadeBenigno
  if (dfMamo.loc[i,'Severidade']) == 1:
    dfMamo_exerc_1.loc[i,'Idade'] = mediaIdadeMaligno

In [ ]:
dfMamo_exerc_1_2 = dfMamo_exerc_1
dfMamo_exerc_1_2[dfMamo_exerc_1_2['Idade']=='?']

Empty DataFrame
Columns: [BI-RADS, Idade, Forma, Margem, Densidade, Severidade]
Index: []

###### Exercício 1.3. Atributo Forma

In [ ]:
dfMamo[dfMamo["Forma"]=='?']

    BI-RADS Idade Forma Margem Densidade  Severidade
6         4    70     ?      ?         3           0
9         5    60     ?      5         1           1
20        ?    66     ?      ?         1           1
48        2    42     ?      ?         4           0
54        4    53     ?      5         3           1
74        5    70     ?      4         ?           1
83        4    57     ?      4         1           0
128       4    52     ?      4         ?           0
157       4    51     ?      ?         3           0
163       4    53     ?      4         3           0
236       3    60     ?      3         1           0
255       3    76     ?      3         2           0
387       5    64     ?      ?         3           0
388       2    49     ?      3         3           0
389       3    44     ?      4         3           0
394       4    34     ?      ?         4           0
476       4    41     ?      ?         3           0
496       4    82     ?      5         3           1
519       3    68     ?      ?         3           0
531       4    55     ?      ?         3           0
537       5    63     ?      4         3           1
554       5    70     ?      5         3           1
561       2    59     ?      4         3           0
581       2    65     ?      1         2           0
614       3    46     ?      5         ?           1
660       4    58     ?      4         3           1
661       4    51     ?      4         3           0
662       3    50     ?      ?         3           1
752       5    48     ?      4         ?           1
778       4    60     ?      4         3           0
824       6    40     ?      3         4           1

In [ ]:
#Obtendo os valores possiveis para a forma da Mamografia
valoresForma = dfMamo['Forma'].unique()[dfMamo['Forma'].unique()!='?']

#Descobrindo a maior frequencia da Forma para severidade 0
dfMamoAuxiliar = dfMamo[dfMamo["Severidade"]==0]
maiorfreqFormaBenigno = [valoresForma[0],len(dfMamoAuxiliar[dfMamoAuxiliar["Forma"] == valoresForma[0] ])]
for forma in range(1,len(valoresForma)):
  if maiorfreqFormaBenigno[1] <=  len(dfMamoAuxiliar[dfMamoAuxiliar["Forma"]==valoresForma[forma]]):
    maiorfreqFormaBenigno = [valoresForma[forma],len(dfMamoAuxiliar[dfMamoAuxiliar["Forma"]==valoresForma[forma]]) ]

maiorfreqFormaBenigno

['1', 186]

In [ ]:
#Obtendo os valores possiveis para a forma da Mamografia
valoresForma = dfMamo['Forma'].unique()[dfMamo['Forma'].unique()!='?']

#Descobrindo a maior frequencia da Forma para severidade 1
dfMamoAuxiliar = dfMamo[dfMamo["Severidade"]==1]
maiorfreqFormaMaligno = [valoresForma[0],len(dfMamoAuxiliar[dfMamoAuxiliar["Forma"] == valoresForma[0] ])]
for forma in range(1,len(valoresForma)):
  if maiorfreqFormaMaligno[1] <=  len(dfMamoAuxiliar[dfMamoAuxiliar["Forma"]==valoresForma[forma]]):
    maiorfreqFormaMaligno = [valoresForma[forma],len(dfMamoAuxiliar[dfMamoAuxiliar["Forma"]==valoresForma[forma]]) ]
    

maiorfreqFormaMaligno

['4', 315]

In [ ]:
#Substituindo os valores ausentes pela maior frequencia de acordo com a severidade 
for i in dfMamo[dfMamo["Forma"]=='?'].index:
  if (dfMamo.loc[i,'Severidade']) == 0:
    dfMamo_exerc_1.loc[i,'Forma'] = maiorfreqFormaBenigno[0]
  if (dfMamo.loc[i,'Severidade']) == 1:
    dfMamo_exerc_1.loc[i,'Forma'] = maiorfreqFormaMaligno[0]

In [ ]:
dfMamo_exerc_1[dfMamo_exerc_1["Forma"]=='?']
dfMamo_exerc_1_3 = dfMamo_exerc_1
dfMamo_exerc_1_2[dfMamo_exerc_1_2['Forma']=='?']

Empty DataFrame
Columns: [BI-RADS, Idade, Forma, Margem, Densidade, Severidade]
Index: []

###### Exercício 1.4. Atributo Contorno

In [ ]:
dfMamo[dfMamo["Margem"]=='?']

    BI-RADS Idade Forma Margem Densidade  Severidade
5         4    65     1      ?         3           0
6         4    70     ?      ?         3           0
7         5    42     1      ?         3           0
12        4    64     1      ?         3           0
19        4    40     1      ?         ?           0
20        ?    66     ?      ?         1           1
22        4    43     1      ?         ?           0
27        5    63     3      ?         3           0
35        4    77     3      ?         ?           0
48        2    42     ?      ?         4           0
59        5    59     2      ?         ?           1
84        5    51     4      ?         ?           1
85        4    33     1      ?         ?           0
87        5    36     1      ?         ?           0
94        5    60     1      ?         3           0
100       5    59     2      ?         ?           0
101       4    65     2      ?         ?           0
103       4    29     2      ?         ?           0
133       4    60     2      ?         ?           0
147       4    63     4      ?         3           1
156       5    55     2      ?         ?           1
157       4    51     ?      ?         3           0
159       4    58     4      ?         3           1
187       4    67     1      ?         3           0
227       2    55     1      ?         1           0
278       5    79     1      ?         3           1
298       4    71     1      ?         3           0
305       4    54     1      ?         ?           0
315       4    71     2      ?         3           1
359       5    46     3      ?         3           0
371       3    46     1      ?         ?           0
372       3    43     1      ?         ?           0
387       5    64     ?      ?         3           0
394       4    34     ?      ?         4           0
452       4    57     3      ?         3           0
459       3    40     2      ?         3           0
476       4    41     ?      ?         3           0
519       3    68     ?      ?         3           0
520       4    62     4      ?         3           1
521       5    65     1      ?         3           1
531       4    55     ?      ?         3           0
541       4    49     2      ?         3           0
574       4    60     3      ?         ?           0
662       3    50     ?      ?         3           1
691       4    72     3      ?         3           0
723       4    60     3      ?         4           0
745       6    76     3      ?         3           0
819       4    35     3      ?         2           0

In [ ]:
#Obtendo os valores possiveis para a Margem da Mamografia
valoresMargem = dfMamo['Margem'].unique()[dfMamo['Margem'].unique()!='?']

#Descobrindo a maior frequencia da Margem para severidade 0
dfMamoAuxiliar = dfMamo[dfMamo["Severidade"]==0]
maiorfreqMargemBenigno = [valoresMargem[0],len(dfMamoAuxiliar[dfMamoAuxiliar["Margem"] == valoresMargem[0] ])]
for margem in range(1,len(valoresMargem)):
  if maiorfreqMargemBenigno[1] <=  len(dfMamoAuxiliar[dfMamoAuxiliar["Margem"]==valoresMargem[margem]]):
    maiorfreqMargemBenigno = [valoresMargem[margem],len(dfMamoAuxiliar[dfMamoAuxiliar["Margem"]==valoresMargem[margem]]) ]

maiorfreqMargemBenigno

['1', 316]

In [ ]:
#Obtendo os valores possiveis para a Margem da Mamografia
valoresMargem = dfMamo['Margem'].unique()[dfMamo['Margem'].unique()!='?']

#Descobrindo a maior frequencia da Margem para severidade 1
dfMamoAuxiliar = dfMamo[dfMamo["Severidade"]==1]
maiorfreqMargemMaligno = [valoresMargem[0],len(dfMamoAuxiliar[dfMamoAuxiliar["Margem"] == valoresMargem[0] ])]
for margem in range(1,len(valoresMargem)):
  if maiorfreqMargemMaligno[1] <=  len(dfMamoAuxiliar[dfMamoAuxiliar["Margem"]==valoresMargem[margem]]):
    maiorfreqMargemMaligno = [valoresMargem[margem],len(dfMamoAuxiliar[dfMamoAuxiliar["Margem"]==valoresMargem[margem]]) ]

maiorfreqMargemMaligno

['4', 191]

In [ ]:
#Substituindo os valores ausentes pela maior frequencia de acordo com a severidade 
for i in dfMamo[dfMamo["Margem"]=='?'].index:
  if (dfMamo.loc[i,'Severidade']) == 0:
    dfMamo_exerc_1.loc[i,'Margem'] = maiorfreqMargemBenigno[0]
  if (dfMamo.loc[i,'Severidade']) == 1:
    dfMamo_exerc_1.loc[i,'Margem'] = maiorfreqMargemMaligno[0]

In [ ]:
dfMamo_exerc_1[dfMamo_exerc_1["Margem"]=='?']

Empty DataFrame
Columns: [BI-RADS, Idade, Forma, Margem, Densidade, Severidade]
Index: []

###### Exercício 1.5. Atributo Densidade

In [ ]:
dfMamo[dfMamo["Densidade"]=='?']

    BI-RADS Idade Forma Margem Densidade  Severidade
1         4    43     1      1         ?           1
4         5    74     1      5         ?           1
19        4    40     1      ?         ?           0
22        4    43     1      ?         ?           0
26        2    66     1      1         ?           0
..      ...   ...   ...    ...       ...         ...
614       3    46     ?      5         ?           1
627       4    57     2      1         ?           0
665       4    27     2      1         ?           0
677       4    57     4      4         ?           1
752       5    48     ?      4         ?           1

[76 rows x 6 columns]

In [ ]:
#Obtendo os valores possiveis para a Densidade da Mamografia
valoresDensidade = dfMamo['Densidade'].unique()[dfMamo['Densidade'].unique()!='?']

#Descobrindo a maior frequencia da Densidade para severidade 0
dfMamoAuxiliar = dfMamo[dfMamo["Severidade"]==0]
maiorfreqDensidadeBenigno = [valoresDensidade[0],len(dfMamoAuxiliar[dfMamoAuxiliar["Densidade"] == valoresDensidade[0] ])]
for densindade in range(1,len(valoresDensidade)):
  if maiorfreqDensidadeBenigno[1] <=  len(dfMamoAuxiliar[dfMamoAuxiliar["Densidade"]==valoresDensidade[densindade]]):
    maiorfreqDensidadeBenigno = [valoresDensidade[densindade],len(dfMamoAuxiliar[dfMamoAuxiliar["Densidade"]==valoresDensidade[densindade]]) ]

maiorfreqDensidadeBenigno

['3', 405]

In [ ]:
#Obtendo os valores possiveis para a Densidade da Mamografia
valoresDensidade = dfMamo['Densidade'].unique()[dfMamo['Densidade'].unique()!='?']

#Descobrindo a maior frequencia da Densidade para severidade 1
dfMamoAuxiliar = dfMamo[dfMamo["Severidade"]==1]
maiorfreqDensidadeMaligno = [valoresDensidade[0],len(dfMamoAuxiliar[dfMamoAuxiliar["Densidade"] == valoresDensidade[0] ])]
for densindade in range(1,len(valoresDensidade)):
  if maiorfreqDensidadeMaligno[1] <=  len(dfMamoAuxiliar[dfMamoAuxiliar["Densidade"]==valoresDensidade[densindade]]):
    maiorfreqDensidadeMaligno = [valoresDensidade[densindade],len(dfMamoAuxiliar[dfMamoAuxiliar["Densidade"]==valoresDensidade[densindade]]) ]

maiorfreqDensidadeMaligno

['3', 393]

In [ ]:
#Substituindo os valores ausentes pela maior frequencia de acordo com a severidade 
for i in dfMamo[dfMamo["Densidade"]=='?'].index:
  dfMamo_exerc_1.loc[i,'Densidade'] = maiorfreqFormaBenigno[0]

In [ ]:
dfMamo_exerc_1[dfMamo_exerc_1["Densidade"]=='?']

Empty DataFrame
Columns: [BI-RADS, Idade, Forma, Margem, Densidade, Severidade]
Index: []

##### Exercício 2. Discretização - Método do encaixotamento de mesma largura

In [ ]:
dfMamo['Idade']

0      67
1      43
2      58
3      28
4      74
       ..
956    47
957    56
958    64
959    66
960    62
Name: Idade, Length: 961, dtype: object

In [ ]:
#variaveis de controle
numCaixas = 6
idadeMaxima = max(dfMamo_exerc_1['Idade'].astype(int))
idadeMinima = min(dfMamo_exerc_1['Idade'].astype(int))
amplitudeTotal = idadeMaxima - idadeMinima
amplitudeGrupo = round(amplitudeTotal/numCaixas)
amplitudeGrupo

13

In [ ]:
#Criando uma Serie com o numero da caixa de todos os dados
encaixotamentoIdade = []  

for idade in dfMamo_exerc_1["Idade"].values:
  caixaAtual = 0
  while int(idade)>=(idadeMinima+caixaAtual*amplitudeGrupo) and caixaAtual<numCaixas:
    caixaAtual+=1
  encaixotamentoIdade.append(caixaAtual)

encaixotamentoIdade = pd.DataFrame(encaixotamentoIdade,columns=['numCaixa'])

In [ ]:
encaixotamentoIdade

     numCaixa
0           4
1           2
2           4
3           1
4           5
..        ...
956         3
957         3
958         4
959         4
960         4

[961 rows x 1 columns]

In [ ]:
dfMamo_exerc_2 = dfMamo_exerc_1.copy()

for caixa in range(1,7):
  media = round(dfMamo_exerc_2.loc[list(encaixotamentoIdade[encaixotamentoIdade['numCaixa']==caixa].index)]['Idade'].astype(int).mean())
  for i in encaixotamentoIdade[encaixotamentoIdade['numCaixa']==caixa].index:
    dfMamo_exerc_2.loc[i,'Idade'] = media
dfMamo_exerc_2

    BI-RADS Idade Forma Margem Densidade  Severidade
0         5    63     3      5         3           1
1         4    38     1      1         1           1
2         5    63     4      5         3           1
3         4    24     1      1         3           0
4         5    74     1      5         1           1
..      ...   ...   ...    ...       ...         ...
956       4    50     2      1         3           0
957       4    50     4      5         3           1
958       4    63     4      5         3           0
959       5    63     4      5         3           1
960       4    63     3      3         3           0

[961 rows x 6 columns]

##### Exercício 3. Transformação dos dados - Normalização Max-Min

In [ ]:
dfMamo_exerc_3 = dfMamo[dfMamo['Idade']!='?']
dfMamo_exerc_3['Idade'] = dfMamo_exerc_3['Idade'].astype(float)

In [ ]:
def lowest_value(list):
  lowest_value = list[0]
  for value in list:
    if value < lowest_value:
      lowest_value = value
  return lowest_value

def greatest_value(list):
  greatest_value = list[0]
  for value in list:
    if value > greatest_value:
      greatest_value = value
  return greatest_value

In [ ]:
def max_in_normalize(series):
  min_value = lowest_value(series)
  max_value = greatest_value(series)

  for i, value in series.iteritems():
    new_value = ((value - min_value)/(max_value - min_value))
    series[i] = "{:.2f}".format(new_value)
  
  return series

In [ ]:
dfMamo_exerc_3['Idade'] = max_in_normalize(dfMamo_exerc_3['Idade'])

dfMamo_exerc_3

    BI-RADS  Idade Forma Margem Densidade  Severidade
0         5   0.63     3      5         3           1
1         4   0.32     1      1         ?           1
2         5   0.51     4      5         3           1
3         4   0.13     1      1         3           0
4         5   0.72     1      5         ?           1
..      ...    ...   ...    ...       ...         ...
956       4   0.37     2      1         3           0
957       4   0.49     4      5         3           1
958       4   0.59     4      5         3           0
959       5   0.62     4      5         3           1
960       4   0.56     3      3         3           0

[956 rows x 6 columns]

##### Exercício 4. Redução dos dados - Amostragem Estratificada

In [ ]:
sample_size = 100

samples_per_class = []

for severity in dfMamo['Severidade'].unique():
  severity_indices = dfMamo['Severidade'] == severity
  instances = dfMamo[severity_indices]

  proportion_in_original_dataframe = len(instances) / len(dfMamo)
  quantity_in_new_dataframe = round(proportion_in_original_dataframe * sample_size)

  sample = instances.sample(quantity_in_new_dataframe)
  samples_per_class.append(sample)

dfMamo_exerc_4 = pd.concat(samples_per_class)

dfMamo_exerc_4

    BI-RADS Idade Forma Margem Densidade  Severidade
300       5    49     4      5         3           1
20        ?    66     ?      ?         1           1
370       5    80     4      4         3           1
547       5    66     4      5         3           1
639       5    52     4      5         3           1
..      ...   ...   ...    ...       ...         ...
540       3    21     3      1         3           0
732       4    59     1      1         3           0
644       4    43     1      1         3           0
896       4    60     4      5         3           0
298       4    71     1      ?         3           0

[100 rows x 6 columns]